.base {
  width: 100%;
  padding: 1rem;
  border-radius: 16px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.02);
  }
}

.purple {
  background: var(--color-purple, #cbb2f5);
  color: #0C0D10;
  font-family: "Sohne", sans-serif;
  font-weight: 400;
}

.black {
  background: #0C0D10;
  color: white;
  border: 1px solid white;

  font-family: "Sohne", sans-serif;
  font-weight: 400;
}

.white {
  background: white;
  color: #0C0D10;

  font-family: "Sohne", sans-serif;
  font-weight: 400;
}
