.container {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  gap: 2rem;
  width: 40%;
  height: 40vh;
}

.content {
  font-size: 1.25rem;
  font-weight: 400;
  color: #fafafa;
  max-width: 420px;
  font-family: "Bagoss", sans-serif;

  h1 {
    font-size: 28px;
    font-weight: 700;
    color: #fafafa;
    line-height: 1.25;
    letter-spacing: 1%;
  }
}

@media (max-width: 768px) {
  .inner {
    width: 100%;
    padding: 1rem;
    height: 80vh;
  }

  .content {
    font-size: 14px;
    max-width: 100%;
  }
}
